.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
header{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
   display: flex;
   justify-content: space-between;
}
.navbar{
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 15px;
    
    
}
.navbar h3{
    font-size: 20px;

}
.high{
    color: rgba(58, 58, 58, 1);
    font-size: 40px;
}
.pera{
    color: rgba(58, 58, 58, 1);
}
.btn{
    border-radius: 20px;
    background-color: rgba(224, 44, 109, 1);
    color: white;
    padding: 10px;
    cursor: pointer;
}

  
.conteiner{
    align-items: center;
    
}
.camera img{
    width: 350px;
    margin-top: 50px;
    background-image: url(../images/images/Circle\ design.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.sponsor{
     /* display: grid; */
     margin: 90px auto;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 0 0 4px;
    color: rgba(241, 238, 238, 0.25);
}
main{
    max-width: 1240px;
    margin: 0 auto;
}
button:hover{
    background-color: brown;
}
.bazar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
   gap: 50px 0px;
    /* margin-left: 70px; */
    
}
.maal:hover{
    background-color: lightgray;
}

    .center{
 text-align: center;
 align-items: center;
 margin: 50px;
 font-size: 30px;
}

.maal{
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
    /* text-align: left; */
    margin-right: 100px;
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
   

}
@media screen and (max-width:576px) {
    .navbar,ul,.conteiner, .camera{
       flex-direction: column;
       
    }
    .sponsor{
        
        grid-template-columns: repeat(4,1fr);
    
    }
    .bazar{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin-left: 25px;
    }
    
    .conteiner{
        flex-direction: column-reverse;
    }
    .conteiner{
        margin: 50px;
        justify-items: center;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar,ul,.conteiner, .camera{
       flex-direction: row;
}
.sponsor{
        
        grid-template-rows: repeat(4,1fr);
        justify-items: center;
        
}